# Basic stuff
/node_modules
/.idea
npm-debug.log
.vscode/

config/default.json
config/development.json
config/production.json
config/shared-data.json
config/staging.json
config/test.json

# Mongo
mongo-backup/
mongo-data/

# Code coverage
.nyc_output/
package-lock.json
./package-lock.json
./logs/*.log
logs/*.log
./logs/*.err
logs/*.err
# Test Files
scripts/entities-registered-with-acra.csv
